@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar-swiper .swiper-button-prev {
  @apply bg-white rounded-full w-8 h-8 top-7 left-12;
}
.navbar-swiper .swiper-button-next {
  @apply bg-white rounded-full w-8 h-8 top-7 right-12;
}

.navbar-swiper .swiper-button-prev:after,
.navbar-swiper .swiper-button-next:after {
  font-size: 10px;
  font-weight: 800;
  color: #2d2a49;
}